<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <script src="/javascripts/masonry-docs.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo_changeit.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" action="/" method="POST">
        <div class="form-group">
          <input type="search" class="form-control" name="search" placeholder="Search products...">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if(user){ %>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/profile/<%= user._id %>"><%= user.first_name %></a></li>
          <% if(numMatches > 0){ %>
            <li><a href="/notifications"> <span class="badge"><%= numMatches %></span></a></li>
          <% } %>
        <% }else{ %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
  <%- body %>
  <!-- <footer>
    <p>Change it! 2017. All rights reserved.</p>
  </footer> -->
  <script type="text/javascript">
    var elem = document.querySelector('.card-container');
    var msnry = new Masonry( elem, {itemSelector: '.card'});
  </script>
</body>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</html>
